.slider .indicators .indicator-item {
    background-color: #e0e0e0;
}

.slider .indicators .indicator-item.active{
    background-color: orange;
}


.mt-1{
    margin-top: 15vh;
}

.btn-outline{
    border: 1px solid lightblue !important;
    border-radius: 5px;
}

.btn-outline:hover{
    border: 1px solid lightblue !important;
    color: white !important;
    background-color: lightblue !important;
}

.pt-1{
    padding-top: 15vh;
}
/* 
.mt-2{
    margin-top: 2.5vh !important;
} */

.flex{
    display: flex;
    justify-content: space-around;
    gap: 10vw !important;
}

.flex-1{
    display: flex;
    align-items: center !important;
    justify-content: space-around !important;
}

.flex-2{
    display: flex;
    align-items: center !important;
    justify-content: space-around !important;
}

@media screen and (max-width:700px)  {
    .btn{
        font-size: 10px !important;
        width: auto;
    }

    h4{
        font-size: 30px;
    }
}