.pt-1{
    margin-top: 10px;
}

.slider .indicators .indicator-item {
    background-color: #e0e0e0;
}

.slider .indicators .indicator-item.active{
    background-color: orange;
}


.mt-1{
    margin-top: 15vh;
}
