.flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 40vw;
}

.flex-1{
    display: flex;
    justify-content: end;
    gap: 40px;
}

.flex-2{
    display: flex;
    justify-content: start;
}